
  body{
    background-color: hsl(210, 46%, 95%);
    font-family: "Barlow", Semi, Condensed;
    font-weight: 500, 600;
    font-size: 13px;
    display: flex;
    justify-content: center;
  }
  section{
    margin-top: 30px;
    max-width: 70%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
  }
figure p{
float: right;
font-weight: bold;
}
figure{
    width: 60%;
}
img{
    border-radius: 50%;
}
.one{
background-color: hsl(263, 55%, 52%);
grid-column: span 2;
}
.two{
    background-color:hsl(217, 19%, 35%) ;
    color: white;
}
.three{
background-color:hsl(0, 0%, 100%);
}
.four{
    background-color:hsl(219, 29%, 14%);
    color: white;
    grid-column: span 2;
}
.five{
    background-color:hsl(0, 0%, 100%);
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: span 2;
    
}
.one, .two, .three, .four, .five{
    padding: 10px;
    border-radius: 10px;
}
